<div class="home-background-login">
  <%= image_tag "GFY.jpg", :style => "width: 100%;height:100%" %>
</div>
<div id="toppart" style="position:relative;">

  <!-- <div id='loginBackground'></div> -->
  <div class="home-content">
    <h1 id="welcome-page">Need a home reno done?  <span style=color:#E9B000>Crowd-source it.</span></h1>
    <p id="sub-header">We are an online platform specializing in home renovations</p>

    <% if current_user %>
    <a href="/projects" class="myButton" style="border-radius: 15px;">Start Now</a>
    <% else %>
    <a href="/users/new" class="myButton">Start Now</a>
    <% end %>
  </div>
</div>

<div class="bottompart" style="position: relative; margin-top:100%;">

  <h1 class="page-heading">All Projects</h1>
  <% @projects.each do |project| %>
  <div class="project-card">
    <%= link_to image_tag(project.picture_url), project_path(project), :id =>'viewProjectImage'%>
    <h1 class="project-name"><%= project.name %></h1>
    <div class="project-description"><%= project.description %></div>
    <%= link_to "See Project", project_path(project), class:"project-link" %>
  </div>
  <% end %>
</div>
