<h1 class="page-heading">Edit Project</h1>

<%= form_for @project do |f| %>
<div id='project-new-form'>
  <div class="form-field-project-new">
    <%= f.label :name %><br>
    <%= f.text_field :name, id: 'user-box' %>
  </div>
  <div class="form-field-project-new">
    <%= f.label :description %><br>
    <%= f.text_area :description, id: 'user-box' %>
  </div>
  <div class="form-field-project-new">
    <%= f.label :picture_url %><br>
    <%= f.text_field :picture_url, id: 'user-box' %>
  </div>
  <div class="form-field-project-new">
    <%= f.label :max_shares %><br>
    <%= f.number_field :max_shares, id: 'user-box' %>
  </div>
  <div class="form-field-project-new">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline, :discard_hour => true, id: 'user-box' %>
  </div>
<div id='login-submit-div'><%= submit_tag "Edit Project", class:'login-submit-user' %></div>
</div>

<% end %>
